:root {
    --mainbgcolor: #402101;
    --mainbgcolor2: #EA904F;
    --maincolor1: #D5906E;
    --maincolor2: #fff;
    --maincolor3: #B53B1B;
    --mainfontsize1: 16px;
    --mainfontsize2: 18px;
    --maintitlefontsize: 36px;
    --maintitlefontsize2: 40px;
    --maintitlefontsize3: 32px;
    


}